*/build/*
*/install/*
*/output/*
*.o
*.so
*.d
*.pcm
*.root
!PhotonAnalysisTree/models/model_ppg15_nominal_base_v3E_split_3to35_allplus3jet40_ppg12split_single_tmva.root
*.swp
compile_commands.json
*/src/autom4te.cache/
*/src/aclocal.m4
*/src/compile
*/src/config.guess
*/src/config.sub
*/src/configure
*/src/depcomp
*/src/install-sh
*/src/ltmain.sh
*/src/Makefile.in
*/src/missing

*.png
*.pdf