*/build/*
*/install/*
*/output/*
*.o
*.so
*.d
*.pcm
*.root
*.swp
compile_commands.json
*/src/autom4te.cache/
*/src/aclocal.m4
*/src/compile
*/src/config.guess
*/src/config.sub
*/src/configure
*/src/depcomp
*/src/install-sh
*/src/ltmain.sh
*/src/Makefile.in
*/src/missing

*.png